# TODO: Move to pyproject.toml when possible - https://gitlab.com/pycqa/flake8/issues/428
[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,S,W
ignore = E203,E501,W503,ANN101,ANN102,ANN204
max-line-length = 88
max-complexity = 10
application-import-names = valiant,tests
import-order-style = google
docstring-convention = google
per-file-ignores =
    tests/*:S101,DAR101
    __init__.py:F401
    noxfile.py:ANN,DAR101

[darglint]
strictness = short

[annotations]
suppress-none-returning = true
